*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#favi{
    margin: 15px;
    top: 0;
    position: absolute;
}

#form{
    background-color:transparent;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 30px;
    right: 0;
    top: 0;
    position: absolute;
}

#form:hover{
    transform: scale(1.20) ;

}

.vm:hover{
    background-color: #116b09;
}
body{
    background-image: url(./image.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background:fixed; */
    /* background: ; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

table{
    background-color: rgb(0, 126, 57);
    height: 80px;
}
.fotos{
    padding: 10px;
    border-radius: 25px;
    width: 100%;
    height: 250px;
}
h3{
    width: 100%;
    position: absolute;
    top: 110px;
    font-size: xx-large;
}
.lugares{
    position: relative;
    min-width: 300px;
    width: 30%;
    color: white;
    background-color: green;
    height: fit-content;
    border-radius: 25px;
    margin: 10px;
}
.prom{
    text-align: left;
    position: relative;
    min-width: 300px;
    width: 30%;
    color: white;
    background-color: green;
    height: fit-content;
    border-radius: 25px;
    margin: 10px;
}
h4{
    margin: 20px;
    margin-top: 0;
    margin-bottom: 0;
}
h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
a{  
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 30px;
    padding: 10px;
    border: 0;
    width: 300px;    
    border-radius: 20px;
    background-color: rgba(0, 128, 0, 0.518);
}
a:hover{
    background-color: rgba(0, 136, 0, 0.721);
    transform:  translate(-2.5px, -2.5px);
    transition:  all .5s;
}
#contenido{
    width: 100%;
    color: white;
    background-color: green;
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
}
h2{
    margin: 10px;
    margin-left: 15px;
}

center{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
li{
    padding-left: 15px;
}
/* button{
    margin: 30px;
    border: 0;
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(0, 128, 0, 0.518);
}
button:hover{
    background-color: rgba(0, 136, 0, 0.721);
    transform:  translate(-2.5px, -2.5px);
    transition:  all .5s;
} */

.content{
    width: fit-content;
    /* height: 100px; */
    color: white;
    background-color: green;
    margin: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
}
.input{
    background-color: transparent;
    height: 40px;
    width: 300px;
    border: 0;
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 20px;
    color: white;
}
.pin{
    width: 300px;
    text-align: left;
}
.boton{
    border: 0;
    /* color: ; */
    border-radius: 10px;
    width: 140px;
    height: 40px;
    background-color:#37962f;
}
.boton:hover{
    transform: scale(1.10);
    transition: all .5s;
    background-color:  #3ea534;
}
#botones{
    width: 300px;
    display: flex;
    justify-content: space-between;
}